.cart{
    margin-left: 70px;
    margin-right: 70px;
    margin-top:30px;
    display:flex;
    flex-direction: column;

}
.cart-heading{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-list-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
